<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.sixthsolution.easymvp.test"
    xmlns:android="http://schemas.android.com/apk/res/android"
    >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >
        <activity android:name=".SimpleAppCompatActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".SimpleAppCompatActivityWithFragment">
        </activity>
        <activity android:name=".SimpleAppCompatActivityWithCustomView">
        </activity>
        <activity android:name=".SimpleActivity">
        </activity>
        <activity android:name=".conductor.ConductorActivity">
        </activity>
    </application>

</manifest>